<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetStudentDetails</servlet-name>
        <servlet-class>servlets.GetStudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostStudentDetails</servlet-name>
        <servlet-class>servlets.PostStudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateLoan</servlet-name>
        <servlet-class>servlets.CalculateLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>servlets.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateRegister</servlet-name>
        <servlet-class>servlets.ValidateRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyLogin</servlet-name>
        <servlet-class>servlets.VerifyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateProfile</servlet-name>
        <servlet-class>servlets.ValidateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAdminLogin</servlet-name>
        <servlet-class>servlets.VerifyAdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUser</servlet-name>
        <servlet-class>servlets.BanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnbanUser</servlet-name>
        <servlet-class>servlets.UnbanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRole</servlet-name>
        <servlet-class>servlets.ChangeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfileImage</servlet-name>
        <servlet-class>servlets.UploadProfileImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileImage</servlet-name>
        <servlet-class>servlets.UpdateProfileImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>servlets.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemImage</servlet-name>
        <servlet-class>servlets.UpdateItemImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>servlets.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>servlets.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>servlets.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOneCart</servlet-name>
        <servlet-class>servlets.DeleteOneCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseOneCart</servlet-name>
        <servlet-class>servlets.IncreaseOneCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecreaseOneCart</servlet-name>
        <servlet-class>servlets.DecreaseOneCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>servlets.Transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComment</servlet-name>
        <servlet-class>servlets.UpdateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTransactionShipping</servlet-name>
        <servlet-class>servlets.UpdateTransactionShipping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTransactionDelivered</servlet-name>
        <servlet-class>servlets.UpdateTransactionDelivered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTransactionReplyComment</servlet-name>
        <servlet-class>servlets.UpdateTransactionReplyComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStudentDetails</servlet-name>
        <url-pattern>/GetStudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostStudentDetails</servlet-name>
        <url-pattern>/PostStudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateLoan</servlet-name>
        <url-pattern>/CalculateLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateRegister</servlet-name>
        <url-pattern>/ValidateRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyLogin</servlet-name>
        <url-pattern>/VerifyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateProfile</servlet-name>
        <url-pattern>/ValidateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAdminLogin</servlet-name>
        <url-pattern>/VerifyAdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUser</servlet-name>
        <url-pattern>/BanUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnbanUser</servlet-name>
        <url-pattern>/UnbanUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRole</servlet-name>
        <url-pattern>/ChangeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfileImage</servlet-name>
        <url-pattern>/UploadProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileImage</servlet-name>
        <url-pattern>/UpdateProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemImage</servlet-name>
        <url-pattern>/UpdateItemImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOneCart</servlet-name>
        <url-pattern>/DeleteOneCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseOneCart</servlet-name>
        <url-pattern>/IncreaseOneCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecreaseOneCart</servlet-name>
        <url-pattern>/DecreaseOneCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComment</servlet-name>
        <url-pattern>/UpdateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTransactionShipping</servlet-name>
        <url-pattern>/UpdateTransactionShipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTransactionDelivered</servlet-name>
        <url-pattern>/UpdateTransactionDelivered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTransactionReplyComment</servlet-name>
        <url-pattern>/UpdateTransactionReplyComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
